<div style="height:418px;">

	<div class="row">
		<div class="col-md-8">
			<div class="input-group">
                <span class="input-group-addon" id="basic-addon1"
                      ng-class="{'glyphicon glyphicon-refresh searchTextInput': eventStudentsSearch.spin , 'glyphicon glyphicon-search searchTextInput': !eventStudentsSearch.spin}"></span>
				<input type="text" class="form-control" placeholder="search" ng-model="eventStudentsSearch.searchValue" ng-keyup="executeSearch()">
			</div>
		</div>

		<div class="col-md-4">

			<div class="dropdown pull-right" style="width: 100% !important;">
				<select id="formatId"
				        class="form-control"
				        ng-model="eventStudentsSearch.format"
				        ng-options="format for format in eventStudentsSearch.formats"
				        ng-change="formatChanged()"
						>
				</select>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="events_students_contaner" style="height:340px;overflow: auto;margin-top: 10px">

				<div ng-show="!eventStudentsSearch.studentRecordsFound">

					<div class="jumbotron well">
						<h3>No students found!</h3>

						<p>Please select another event or change search filter.</p>
					</div>

				</div>

				<table ng-show="eventStudentsSearch.studentRecordsFound" class="table table-hover">
					<thead>
					<tr>
						<th>Name</th>
						<th class="text-center">ID</th>
						<th class="text-center">Registered</th>
						<th class="text-center" ng-show="selectedEvent.havePassed">Participated</th>
					</tr>
					</thead>
					<tbody>

					<div infinite-scroll="loadMoreStudents()" nfinite-scroll-distance="4" infinite-scroll-container="'#events_students_contaner'">

						<tr ng-repeat="student in eventStudentsSearch.values"
						    ng-class-odd="'success'"
						    ng-class-even="'active'"
								>

							<td style="width:30%;">
								<div tooltip="{{student.fullName}}" tooltip-enable="student.fullName.length > 25" class="tooltip-300max">
									{{ student.fullName | limitTo: 25}}{{student.fullName.length > 25 ? '...' : ''}}
								</div>
							</td>
							<td class="text-center">{{ student.personId}}</td>
							<td style="width:50px;" class="text-center">
								<input type="checkbox"
								       name="checkboxes"
								       id="registeredStudentId"
								       ng-checked="student.active"
								       ng-click="updateStudentAttendance(student)"/>
							</td>
							<td style="width:50px;" ng-show="selectedEvent.havePassed">

								<div ng-show="student.showAbsenceToggle"
								     toggle-switch
								     ng-init="student.updateInProgress = false"
								     is-disabled="student.updateInProgress"
								     class="switch-success switch-mini"
								     on-label="Yes"
								     off-label="No"
								     knob-label=""
								     ng-model="student.participated"
								     ng-change="onStudentAbsenceEvent(student)"
										>
								</div>

							</td>
						</tr>
					</div>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<button style="margin-top: 10px" class="btn btn-success btn-sm pull-right" type="button" ng-click="">
		Confirm finished
	</button>

</div>


