@import (reference) "../../../../vendor/bower_components/bootstrap/less/bootstrap";
@import "/app/style/less/edup/login/login";
@import "/app/style/less/edup/header/header";
@import "/app/style/less/edup/client_attendance/client_attendance";

body {
  background: #eeeeee url(http://subtlepatterns.com/patterns/sativa.png);
  position: relative;
  height: 100%;
}