<div class="mainForm" ng-controller="CalendarTabController">

    <div class="col-md-12 column">
        <div class="col-md-3 form-inline">
            <div class="btn-group pull-left">
                <button class="btn btn-primary" ng-click="updateTitle()" mwl-date-modifier date="calendarDay" decrement="calendarView">&lt;&lt; Prev</button>
                <button class="btn" ng-click="updateTitle()" mwl-date-modifier date="calendarDay" set-to-today> Today</button>
                <button class="btn btn-primary" ng-click="updateTitle()" mwl-date-modifier date="calendarDay" increment="calendarView"> Next &gt;&gt; </button>
            </div>
        </div>

        <div class="col-md-2">
            <div class="btn-group text-center">
                <h4> {{ currentDay }} </h4>
            </div>

        </div>

        <div class="col-md-3 form-inline">
            <div class="btn-group pull-right">
                <button class="btn btn-warning" ng-click="setCalendarView('year')">Year</button>
                <button class="btn btn-warning" ng-click="setCalendarView('month')">Month</button>
                <button class="btn btn-warning" ng-click="setCalendarView('week')">Week</button>
                <button class="btn btn-warning" ng-click="setCalendarView('day')">Day</button>
            </div>
        </div>
        <div class="col-md-4 form-inline">
        </div>
    </div>

    <div class="col-md-12 column" style="padding-top: 20px">
        <div class="col-md-8 column">
            <!--<div id="calendar" class="cal-context" style="width: 60%;"></div>-->

            <mwl-calendar
                    events="events"
                    view="calendarView"
                    view-title="calendarTitle"
                    current-day="calendarDay"
                    on-event-click="eventClicked(calendarEvent)"
                    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    on-edit-event-click="eventEdited(calendarEvent)"
                    on-delete-event-click="eventDeleted(calendarEvent)"
                    auto-open="true">
            </mwl-calendar>

        </div>

        <div class="col-md-4 column">
            <h4>Today events:</h4>

            <div ng-repeat="event in events">
                <h4>
                    <div class="label" ng-class="{ 'label-primary': event.type === 'info', 'label-warning': event.type === 'warning', 'label-danger': event.type === 'important'}">{{event.title}}</div>
                </h4>
            </div>
        </div>
    </div>

</div>