<div class="mainForm" ng-controller="ClientTabController">

    <div class="row clearfix scrollbar-container">

        <div class="col-md-7 column">

            <div class="parent">
                <div class="child pull=left"><input id="searchinput" name="searchinput" type="search" placeholder="search" class="form-control input-md"></div>
                <div class="child pull-right"><h4><span class="glyphicon glyphicon-user pull-right"></span></h4></div>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last name</th>
                    <th>Age</th>
                    <th>ID</th>
                    <th>Phone</th>
                    <th>Active</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="client in clients" ng-class-odd="'success'" ng-class-even="'active'" ng-click="setSelected(client.id)" ng-class="{selected: client.id === selectedClient.id}">
                    <td>{{ client.name }}</td>
                    <td>{{ client.lastName }}</td>
                    <td>{{ client.age }}</td>
                    <td>{{ client.personalId }}</td>
                    <td>{{ client.phone }}</td>
                    <td><input type="checkbox" name="checkboxes" id="checkboxes-1" ng-disabled="true" ng-checked="client.active"></td>
                    <td><a href="#">{{ client.details }}</a> </td>
                </tr>
                </tbody>
            </table>

            <div class="text-center">
                <ul class="pagination pagination-sm">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-5 column">
            <form class="form-horizontal" style="border: 1px solid #d3d3d3;background-color: #ededed; border-radius: 5px; padding: 10px">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Identification card</legend>

                    <div class="col-md-12 column">
                        <table class="identification-card" width="100%">
                            <tr>
                                <td>
                                    <h4><b>{{ selectedClient.name }} {{ selectedClient.lastName}}</b></h4>
                                </td>
                                <td rowspan="2" width="180px">
                                    <img alt="140x140" src="./../images/taja.png" class="img-rounded pull-right"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>{{ selectedClient.personalId }}</h4>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-12 column" style="padding-top: 20px">
                        <table class="identification-card" width="100%">
                            <tr>
                                <td>Phone number:</td>
                                <td>{{ selectedClient.phone }}</td>
                            </tr>
                            <tr>
                                <td>Current balance:</td>
                                <td>{{ selectedClient.balance }} EUR</td>
                                <td>
                                    <button type="button" class="btn btn-success pull-right">Add to balance</button>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="col-md-12 column" style="padding-top: 10px;">
                        <button type="button" class="btn btn-info" style="width: 100%">Attendance history</button>
                    </div>

                    <div class="col-md-12 column" style="padding-top: 30px;">
                        <label for="parentInformation">Information about parents</label>
                        <textarea readonly class="form-control fixedTextArea" id="parentInformation" name="textarea">{{ selectedClient.parentsInfo }}</textarea>
                    </div>

                    <div class="col-md-12 column" style="padding-top: 30px; padding-bottom: 20px">
                        <label for="essentialInformation">Essential information</label>
                        <textarea readonly class="form-control fixedTextArea" id="essentialInformation" name="textarea">{{ selectedClient.essentialInformation }}</textarea>
                    </div>
                </fieldset>
            </form>

        </div>

    </div>

</div>