<div class="mainForm">


    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="pull-right" width="400px">
                <tr>
                    <td style="border-top: none">
                        <h3><span class="label label-info pull-right">{{ selectedStudent.fullName }}</span></h3>
                    </td>
                    <td rowspan="2" style="border-top: none" width="180px">
                        <img alt="140x140" src="{{selectedStudent.photoUrl}}" class="img-rounded pull-right"/>
                    </td>
                </tr>
                <tr class="active">
                    <td style="border-top: none">
                        <h3><span class="label pull-right"
                                  ng-class="{'label-danger' :  selectedStudent.balance < 0, 'label-success' :  selectedStudent.balance > 0, 'label-primary' :  selectedStudent.balance == 0}">{{ selectedStudent.balance }} EUR</span>
                        </h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Add money to account</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="amountTextInput">Amount</label>

                <div class="col-md-4">
                    <input ng-model="newBalanceValue" id="amountTextInput" name="textinput" type="text" placeholder="amount" class="form-control input-md">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="addToBalanceButton"></label>

                <div class="col-md-4">
                    <button ng-click="addToBalance(newBalanceValue)" id="addToBalanceButton" name="payButton" class="btn btn-success pull-right">Add to balance</button>
                </div>
            </div>

        </fieldset>
    </form>


    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Make payment</legend>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="subjectList">Subject</label>

                <div class="col-md-4">
                    <select id="subjectList" name="subjectList" class="form-control">
                        <option value="1">History</option>
                        <option value="2">English</option>
                        <option value="3">Math</option>
                        <option value="4">Biology</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Date</label>

                <div class="col-md-4">
                    <app-date-picker selected-value="selectedStudent.birthDate"></app-date-picker>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="payButton"></label>

                <div class="col-md-4">
                    <button id="payButton" name="payButton" class="btn btn-success pull-right">Pay</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>