<div>

    <div class="row">
        <div class="col-xs-8">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1" ng-class="{'glyphicon glyphicon-refresh searchTextInput': basicSearch.spin , 'glyphicon glyphicon-search searchTextInput': !basicSearch.spin}"></span>
                <input type="text" class="form-control" placeholder="search" ng-model="searchValue" ng-keyup="executeSearch(searchValue)">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-class="{ active: paging.perPage === 10}" ng-click="setRecordsPerPage(10)">10</button>
                <button type="button" class="btn btn-default" ng-class="{ active: paging.perPage === 25}" ng-click="setRecordsPerPage(25)">25</button>
                <button type="button" class="btn btn-default" ng-class="{ active: paging.perPage === 50}" ng-click="setRecordsPerPage(50)">50</button>
            </div>
        </div>

        <div class="col-xs-1">
            <h4><span class="glyphicon glyphicon-plus pull-right"
                      style="cursor: pointer"
                      data-toggle="modal"
                      data-target="#add-new-student-modal-view"
                    >
            </span></h4>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>ID</th>
            <th>Phone</th>
            <!--<th>Active</th>-->
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr dir-paginate="student in students | itemsPerPage: paging.perPage"
            current-page="paging.page"
            total-items="paging.totalRecords"
            ng-class-odd="'success'"
            ng-class-even="'active'"
            ng-click="setSelected(student.id)"
            ng-class="{'selected': student.id === selectedStudent.id}">

            <td>{{ student.name }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.personId }}</td>
            <td>{{ student.mobile }}</td>
            <!--<td><input type="checkbox" name="checkboxes" id="checkboxes-1" ng-disabled="true" ng-checked="student.active"></td>-->
            <td>
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#input-forms-modal-view">Details</button>
            </td>
        </tr>

        </tbody>
    </table>

    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber, searchValue)"></dir-pagination-controls>
        </div>
    </div>
    <div app-modal id="input-forms-modal-view" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modalViewPadding">
                <student-input-forms></student-input-forms>
            </div>
        </div>
    </div>

    <div app-modal id="add-new-student-modal-view" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modalViewPadding">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        Add new student
                    </h4>
                </div>
                <new-student></new-student>
            </div>
        </div>
    </div>

</div>


