<div class="container-fluid">

	<div id="events_list_contaner" style="height:400px;overflow: auto">

		<div ng-show="!events.eventRecordsFound">

			<div class="jumbotron well">
				<h3>No events found!</h3>

				<p>Please register new event.</p>
			</div>

		</div>


		<table ng-show="events.eventRecordsFound" class="table table-hover">
			<thead>
			<tr>
				<th class="text-center">Name</th>
				<th class="text-center">Date</th>
				<th class="text-center">From</th>
				<th class="text-center">To</th>
				<th></th>
			</tr>
			</thead>
			<tbody>

			<div infinite-scroll="loadMoreEvens(false)" infinite-scroll-distance="3" infinite-scroll-container="'#events_list_contaner'">
				<tr ng-repeat="event in events.values"
				    ng-class-odd="'success'"
				    ng-class-even="'active'"
				    ng-class="{'selected-row': event.eventId === selectedEvent.eventId}"
				    ng-click="setSelected(event)">

					<td>{{ event.subject.subjectName }}</td>
					<td class="text-center">{{ event.eventDate | date:'yyyy/MM/dd'}}</td>
					<td class="text-center">{{ event.from | date:'HH:mm'}}</td>
					<td class="text-center">{{ event.to | date:'HH:mm'}}</td>
					<td class="text-center" width="40px">
						<span>
							<i ng-class="{'glyphicon glyphicon-chevron-up event_future': event.currentStatus === 'FUTURE' , 'glyphicon glyphicon-chevron-down event_past': event.currentStatus === 'PAST'  , 'glyphicon glyphicon-thumbs-up event_confirmed': event.currentStatus === 'CONFIRMED'}"></i>
						</span>
					</td>
				</tr>
				<!--<div ng-show='events.loading'>Loading data...</div>-->

			</div>
			</tbody>
		</table>
	</div>
</div>