<div style="padding-top: 20px">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>ID</th>
            <th>Phone</th>
            <!--<th>Active</th>-->
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr dir-paginate="student in students | itemsPerPage: studentPaging.perPage"
            current-page="studentPaging.page"
            total-items="studentPaging.totalRecords"
            ng-class-odd="'success'"
            ng-class-even="'active'"
            ng-click="setSelected(student.id)"
            ng-class="{'selected': student.id === selectedStudent.id}"
            pagination-id="studentsPaginationId"
                >

            <td>{{ student.name }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.personId }}</td>
            <td>{{ student.mobile }}</td>
            <!--<td><input type="checkbox" name="checkboxes" id="checkboxes-1" ng-disabled="true" ng-checked="student.active"></td>-->
            <td>
                <button href="#information" type="button" class="btn btn-primary btn-xs" ng-click="openStudentDetailModal(student)">Details</button>
            </td>
        </tr>

        </tbody>
    </table>

    <div class="row">
        <div class="col-xs-12 text-center">
            <dir-pagination-controls on-page-change="studentsPageChanged(newPageNumber, searchValue)" pagination-id="studentsPaginationId"></dir-pagination-controls>
        </div>
    </div>


    <student-details></student-details>

</div>


