<div class="container-fluid">

	<form role="form" name="newSubjectEventForm">

		<div class="row">
			<!-- SUBJECT NAME -->
			<div class="col-md-8 column">
				<div class="form-group" id="subject-event-typeahead">
					<div class="input-group" id="subjectTypeAheadInput">
						<span class="input-group-addon" id="basic-addon2" ng-class="{'glyphicon glyphicon-ok searchTextInput': !selectedSubject , 'glyphicon glyphicon-pencil searchTextInput': !!selectedSubject}"></span>

						<div id="scrollable-dropdown-menu">
							<input required type="text" class="form-control typeahead tt-query" placeholder="Subject" ng-model="subjectEvent.subjectName" ng-keyup="updateSelectedSubject()">
						</div>
					</div>
				</div>
			</div>
			<!-- AMOUNT -->
			<div class="col-md-4 column">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">&euro;</span>
						<input required id="amount" class="form-control ng-valid ng-valid-min ng-dirty ng-valid-number" money="" ng-model="subjectEvent.amount" autofocus="" placeholder="Amount" precision="2">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- EVENT DATE -->
			<div class="col-md-4 column">
				<div class="form-group">
					<div class="dropdown">
						<a class="dropdown-toggle" id="subjectEventDateId" role="button" data-toggle="dropdown" data-target="#" href="#">
							<div class="input-group">
								<input required datepicker-popup="yyyy-MM-dd" type="text" class="form-control" data-ng-model="subjectEvent.eventDate" placeholder="Event date">
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="subjectEvent.eventDate"
							                data-before-render="renderDatePicker($view, $dates, $leftDate, $upDate, $rightDate)"
							                data-datetimepicker-config="{ dropdownSelector: '#subjectEventDateId' , startView:'day', minView:'day'}"></datetimepicker>
						</ul>
					</div>
				</div>
			</div>

			<!-- TIME FROM -->
			<div class="col-md-4 column">
				<div class="form-group">
					<div class="dropdown">
						<a class="dropdown-toggle" id="subjectEventTimeFromId" role="button" data-toggle="dropdown" data-target="#" href="#">
							<div class="input-group">
								<input required datepicker-popup="HH:mm" type="text" class="form-control" data-ng-model="subjectEvent.eventTimeFrom" placeholder="Time from">
								<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="subjectEvent.eventTimeFrom"
							                data-before-render="renderTimePicker($view, $dates, $leftDate, $upDate, $rightDate)"
							                data-datetimepicker-config="{ dropdownSelector: '#subjectEventTimeFromId' , startView:'hour', minView:'minute', minuteStep: 10}"></datetimepicker>
						</ul>
					</div>
				</div>
			</div>
			<!-- TIME TO -->
			<div class="col-md-4 column">
				<div class="form-group">
					<div class="dropdown">
						<a class="dropdown-toggle" id="subjectEventTimeToId" role="button" data-toggle="dropdown" data-target="#" href="#">
							<div class="input-group">
								<input required datepicker-popup="HH:mm" type="text" class="form-control" data-ng-model="subjectEvent.eventTimeTo" placeholder="Time till">
								<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="subjectEvent.eventTimeTo"
							                data-before-render="renderTimePicker($view, $dates, $leftDate, $upDate, $rightDate)"
							                data-datetimepicker-config="{ dropdownSelector: '#subjectEventTimeToId' , startView:'hour', minView:'minute', minuteStep: 10}"></datetimepicker>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- SAVE BUTTON-->
			<div class="col-md-3 column">
				<div class="form-group">
					<button style="width: 100%" type="submit" class="btn btn-success btn-sm" ng-click="saveNewEvent(subjectEvent)">Save</button>
				</div>
			</div>
		</div>

	</form>
</div>