<div ng-controller="IdentificationCardController">

    <form class="form-horizontal" style="border: 1px solid #d3d3d3;background-color: #ededed; border-radius: 5px; padding: 10px">
        <fieldset>

            <!-- Form Name -->
            <legend>Identification card</legend>

            <div class="col-md-12 column">
                <table class="identification-card" width="100%">
                    <tr>
                        <td>
                            <h4><b>{{ selectedStudent.name }} {{ selectedStudent.lastName}}</b></h4>
                        </td>
                        <td rowspan="2" width="180px">
                            <img alt="140x140" src="{{selectedStudent.photo}}" class="img-rounded pull-right"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>{{ selectedStudent.personId }}</h4>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12 column" style="padding-top: 20px">
                <table class="identification-card" width="100%">
                    <tr>
                        <td>Phone number:</td>
                        <td>{{ selectedStudent.mobile }}</td>
                    </tr>
                    <tr>
                        <td>Current balance:</td>
                        <td>{{ selectedStudent.balance }} EUR</td>
                        <td>
                            <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                                    data-target="#addToBalanceModalView">Add to balance
                            </button>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="col-md-12 column" style="padding-top: 10px;">
                <button type="button" class="btn btn-info" style="width: 100%">Attendance history</button>
            </div>

            <!--<div class="col-md-12 column" style="padding-top: 30px;">-->
                <!--<label for="parentInformation">Information about parents</label>-->
                <!--<textarea readonly class="form-control fixedTextArea" id="parentInformation" name="textarea">{{ selectedStudent.parentsInfo }}</textarea>-->
            <!--</div>-->

            <!--<div class="col-md-12 column" style="padding-top: 30px; padding-bottom: 20px">-->
                <!--<label for="essentialInformation">Essential information</label>-->
                <!--<textarea readonly class="form-control fixedTextArea" id="essentialInformation" name="textarea">{{ selectedStudent.essentialInformation }}</textarea>-->
            <!--</div>-->
        </fieldset>
    </form>

    <div id="addToBalanceModalView" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modalViewPadding">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>Add money to account</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="amountTextInput">Amount</label>

                            <div class="col-md-8">
                                <input ng-model="newBalanceValue" id="amountTextInput" name="textinput" type="text" placeholder="amount" class="form-control input-md">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="addToBalanceButton"></label>

                            <div class="col-md-4">
                                <button ng-click="addToBalance(newBalanceValue)"
                                        id="addToBalanceButton"
                                        name="payButton"
                                        class="btn btn-success pull-right"
                                        data-dismiss="modal">Save</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

