.vcenter {
  display: flex;
  flex-direction: row;
}

.fixedTextArea {
  resize: none;
  height: 110px !important;
}

.mainForm {
//  background-color: #f4f4f4;
  padding-bottom: 20px;
  padding-top: 20px;
}

.child{
  display:inline-block;
  *display:inline; /* for IE7*/
  *zoom:1;/* for IE7*/
  min-width:100px;
  min-height:50px;
  margin-right:10px;
  white-space:normal;
}
.parent{
  white-space:nowrap;
}

td.identification-card {
  border-top: none
}

.scrollbar-container {
  scrollbar-face-color: #ddd;
  scrollbar-shadow-color: #fff;
  scrollbar-highlight-color: #fff;
  scrollbar-3dlight-color: #fff;
  scrollbar-darkshadow-color: #fff;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #fff;
  overflow: auto;
}

.modalViewPadding {
  padding: 10px 20px 10px 20px
}
