<!DOCTYPE html>
<html>
<head>
    <title>Login standalone</title>

    <link rel="stylesheet" type="text/css" href="../dist/edup-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../dist/edup.css">

    <script type="text/javascript" src="../vendor/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/restangular/dist/restangular.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/ng-sortable/dist/ng-sortable.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script type="text/javascript" src="../vendor/bower_components/angular-utils-pagination/dirPagination.js"></script>

    <script type="text/javascript" src="../dist/edup.js"></script>


</head>
<body ng-app="edup" class="standaloneBody">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div ng-controller="MyController" class="my-controller">
                <h1>Tasty Paginated Menu</h1>

                <small>this is in "MyController"</small>


                <div class="row">
                    <div class="col-xs-4">
                        <h3>Meals Page: {{ currentPage }}</h3>
                    </div>
                    <div class="col-xs-4">
                        <label for="search">Search:</label>
                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                    </div>
                    <div class="col-xs-4">
                        <label for="search">items per page:</label>
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                    </div>
                </div>
                <br>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <ul>
                            <li dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">{{ meal }}</li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="other-controller">
                <small>this is in "OtherController"</small>
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
